<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ project_title }}{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="bg-gray-100 text-gray-900">
    <header class="bg-dusk shadow">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <h1 class="text-xl font-bold sr-only">{{ project_title }}</h1>
            <img src="{{ asset('images/full_logo.png') }}" alt="{{ project_title }}" class="h-25 w-auto" />
            <nav class="space-x-4">
                <div class="relative inline-block text-left">
                    <div class="flex space-x-4 items-center">
                        {% if app.request.locale != 'de' %}
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'_locale': 'de'})) }}" title="{{ 'Deutsch' | trans }}">
                                {{ ux_icon('circle-flags:de', {'class': 'w-6 h-6'}) }}
                            </a>
                        {% endif %}
                        {% if app.request.locale != 'en' %}
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'_locale': 'en'})) }}" title="{{ 'English' | trans }}">
                                {{ ux_icon('circle-flags:lang-en', {'class': 'w-6 h-6'}) }}
                            </a>
                        {% endif %}
                        {% if app.request.locale != 'es' %}
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'_locale': 'es'})) }}" title="{{ 'Spanish' | trans }}">
                                {{ ux_icon('circle-flags:es-variant', {'class': 'w-6 h-6'}) }}
                            </a>
                        {% endif %}
                        {% if app.request.locale != 'ca' %}
                            <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'_locale': 'ca'})) }}" title="{{ 'Catalan' | trans }}">
                                {{ ux_icon('circle-flags:lang-ca', {'class': 'w-6 h-6'}) }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main class="flex-grow max-w-5xl mx-auto my-8 p-4 bg-white rounded-3xl shadow-md">
        {% block body %}{% endblock %}
    </main>
    <footer class="bg-white">
        <div class="container mx-auto px-4 py-4 text-sm text-center text-gray-500">
            &copy; {{ 'now' | date('Y') }} {{ project_title }}. {{ 'All rights reserved' | trans }}.
        </div>
        <div class="bg-gray-50 py-6">
            <div class="container mx-auto px-4">
                <img src="{{ asset('images/logos-kit-digital.png') }}" alt="Footer logo" class="mx-auto max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg"/>
            </div>
        </div>
    </footer>
</body>
</html>
